@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Kings&family=MedievalSharp&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 90%;
}

header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
}

.headerImg {
  margin: 0 auto;
  max-width: 75%;
  align-items: center;
}

#bodyContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  font-family: 'Cinzel Decorative';
  margin: 0 auto;
  text-align: center;
  font-size: 3.5rem;
}

.favs {
  text-align: left;
}

.dead{
  text-align: right;
}

#bodyContainer #image-gallery {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
  justify-content: space-evenly;
  width: 80%;
}

#bodyContainer #favDiv {
  font-family: 'MedievalSharp';
  font-size: 2.5rem;
  text-align: center;
  line-height: 2rem;
  display: flex;
  margin: 0 auto;
  padding-right: 2rem;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction: row;
  width: 10%;
  height: min-content;
}

#bodyContainer #killDiv {
  font-family: 'Kings';
  font-size: 2.5rem;
  text-align: center;
  line-height: 2rem;
  display: flex;
  margin: 0 auto;
  padding-left: 2rem;
  flex-wrap: wrap;
  padding: 5px;
  justify-content:center;
  flex-direction: row;
  width: 10%;
  height: min-content;
}

.firstRender {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
}

#imgFav{
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin: 5px;
}
#imgKill{
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin: 5px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  height: 65%;
  max-width: 700px;
}

#caption {
  font-family: 'Cinzel Decorative';
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 2rem;
  line-height: 1rem;
}

.close {
  position: absolute;
  top: 30px;
  right: 60px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
  
.heart {
  position: absolute;
  bottom: 120px;
  left: 500px;
  transition: 0.3s;
}

.heart img {
  width: 6rem;
  height: 6rem;
}

.heart:hover,
.heart:focus {
  cursor: pointer;
}

.swords {
  position: absolute;
  bottom: 120px;
  right: 500px;
  transition: 0.3s;
}

.swords img {
  width: 6rem;
  height: 6rem;
}

.swords:hover,
.swords:focus {
  cursor: pointer;
}